/* $Id$ */
body { line-height: 1.25; width: 100%; }
a { text-decoration: underline; vertical-align: top; }

.left {
    float: left;
}

.force-left {
    float: left;
    position: absolute;
    margin-top: 200px !important;
}

.right {
    float: right !important;
}

.user {
    position: relative;
    padding: 7px;
}

.user-pic {
    position: relative;
    display: table-cell;
}

.inline-block {
    display:inline-block;
    vertical-align: baseline;
}

.center {
    margin-left: auto;
    margin-right: auto;
    float: center;
}

.top-nav {
    position: relative;
    width: auto;
    width: 1024px;
    min-width: 1024px !important;
    height: 50px;
    margin-bottom: 15px;
    background: #1d2124;
    color: #fff;
    z-index: 100;
    border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px;
    border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px;
    border-bottom-left-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px;  
}

.title {
    font-family: 'Lato', Arial, sans-serif;
    vertical-align:middle;
    color: #fff;
    float: left;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    padding-top:10px;
}
.title a {
    color: #fff;
    text-decoration: none;
}

.user-info {
    float: right;
    padding: 5px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
    min-width: 40px !important;
    width: auto;
    background: #e7604a;
    color: #fff;
    height: 35px;
    border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px;
    border-top-left-radius:0px; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; 
    border-bottom-right-radius:0px; -moz-border-radius-bottomright:0px; -webkit-border-bottom-right-radius:0px;
    border-bottom-left-radius:0px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px; 
}

.login-photo { 
    text-align: center;
    height:30px;
    display:inline;
    float:left;
}

.img-border {
   border:1px solid #fff;
   background-color:#fff;
}

.actions {
    padding-right: 5px;
    padding-left: 5px;
}

.logo-icon {
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
}

.hidden {
    visibility: hidden;
}

#spinner {
    z-index: 1005;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/preload.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

a.white:link, a.white:visited{
    color:#fff !important;
    vertical-align:middle;
    text-decoration: none;
    font-weight: bold;
}

a.white:hover {
    text-decoration: underline;
}

.registration {
    color: #000;
    padding: 20px;
    width: 435px;
    z-index: 1005;
    position: fixed;
    vertical-align: middle;
    top: 20%;
    left: 35%;
    right: 35%;
    
    background: #fff;
    border: 1px solid #e7604a;
    -moz-box-shadow: 0px 2px 3px #ccc; 
    -webkit-box-shadow: 0px 2px 3px #ccc; 
    box-shadow: 0px 2px 3px #ccc; 
}

.registration span {
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    padding: 7px 5px 5px 5px;
}
.registration div {
    margin-bottom: 5px;
}

.registration textarea {
    width: 410px;
    height: 180px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
}

.editevent {
    color: #000;
    padding: 10px;
    width: 430px;
    height: 240px;
    z-index: 5001;
    position: fixed;
    top: 5%;
    left: 40%;
    vertical-align: middle;
    
    background: #fff;
    border: 1px solid #ccc; /* Just for demo */
    -moz-box-shadow: 0px 2px 2px #ccc; 
    -webkit-box-shadow: 0px 2px 2px #ccc; 
    box-shadow: 0px 2px 2px #ccc;   
}

input[type=text] {
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px 3px 3px 5px;
    height: 20px;
    width: 300px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
.editevent input[type=checkbox] {
    height: 25px;
    width: 20px;
}

.span-left {
    width: 100px;
    padding: 7px 5px 5px 5px;
    text-align: left;
    float: left;
}
.span-right {
    width: 60px;
    padding: 7px 0px 5px 5px;
}

.timepicker {
    display: inline-block;
    float: left;
}

.duration {
    position: absolute;
    margin-top: 105px;
}

.colorpicker {
    position: absolute;
    margin-top: 145px;
}

.editor-buttons {
    position: absolute;
    margin-top: 200px;
}
.editor-buttons-right {
    position: relative;
    margin-top: 100px;
    float: right !important;
}

.Blue {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    background: #5484ed;
}
.Red {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    background: #e52127;
}
.Green {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    background: #51b749;
}
.Yellow {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    background: #fbd75b;
}
.Purple {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    background: #dbadff;
}
.checkedImg {
    display: inline;
    width: 23px;
    height: 23px;
}

input[type=checkbox] {
    display: inline;
    float: right;
    width: 20px;
    height: 20px;
    border: 0px;
}

select { 
    position: relative;
    float: left;
    height: 30px;
}

#me a { color: white; }

#title { float: left; }

#mask {
    visibility: hidden;
    display: block;
    z-index: 1000;
    width:900px;
    height: 710px;
    position: absolute;
    margin-top: 65px;
    background-color:#ddd;
    opacity:.8;
}

.spinner-text {
    position: relative;
    margin-top: 80px;
}

